<ion-header>
  <ion-navbar>
	<ion-title text-center>
	  {{ 'Tichetele mele' }}
	</ion-title>

  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let ticket of tickets" (click)="toggleDetails(ticket)">
	<ion-card-header>
	  <ion-row>
		  <ion-col>
			<b>{{ ticket.title }}</b>
		  </ion-col>
		  <ion-col text-right>
			{{ ticket.ticketId }}
		  </ion-col>
	  </ion-row>
	</ion-card-header>

	<ion-card-content>
		<ion-row>
			<ion-col>
			<ion-icon name="time"></ion-icon>
				{{ ticket.date }}
			</ion-col>
			<ion-col text-right>
				<ion-icon name="alarm"></ion-icon>
				<ion-icon name="trash" (click)="deleteTicket($event, ticket.id)"></ion-icon>
			</ion-col>
		</ion-row>
		<ion-row *ngIf="ticket.showDetails">
			Single ticket component will appear here
		</ion-row>
	</ion-card-content>


  </ion-card>
</ion-content>
